{% extends 'base.html.twig' %}
{% block title %}Création d'un bon plan{% endblock %}
{% block body %}
    <h1 class="display-5">
        Création d'un bon plan
    </h1></br>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}