<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Votre profil{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{{ asset('build/images/favicon.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('style/app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('js/app') }}
    {% endblock %}

</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
